.frame {
    width:50%;
    margin:0px
}

.delete {
    margin-right:0;
    margin-left:auto; 
}

.input-group-text {
    white-space: normal !important;
    text-align:left !important
}

.user-info {
    font-size: 7vmin
}

#categories {
    margin-left:auto
}