// Fonts
@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro:300,400,500,600,700");

// Bootstrap
@import "variables";
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

html, body, #app {
  height: 100%;
}

.avatar {
  width: 30px;
  float: right;
  border-radius: 2px;
}

.btn {
  &.btn-default {
    color: $purple-110
  }
}

.creds {
  position: absolute;
  bottom: 5px;
  right: 5px;
  text-align: right;
}

.list-group-item {
  color: $purple-100;
}

.page-header {
  margin-bottom: 0px;
}

.sign-out {
  float: right;
  padding-top:8px;
  padding-right:10px;
  font-size: 12px;
}

.user-info {
  margin-top: 5px;
  margin-bottom: 30px
}
